= form_for @notification do |f|
  - if @notification.errors.any?
    - @notification.errors.full_messages.each do |msg|
      %p.alert.alert-danger= msg
  .container
    .row
      %table
        %tr
          %td
            .field
              = f.label :title
          %td
            .field
              .input-xlarge
                = f.text_field :title, :placeholder => "Message title"
        %tr
          %td
            .field
              = f.label :description
          %td
            .field
              = f.text_area :description, :rows => 5, :cols => 40, :placeholder => "Message"
        %tr
          %td
            .field
              = f.label :author
          %td
            .field
              = f.text_field :author, :placeholder => "Name and position"
        %tr
          %td
            .actions
              = f.submit 'Save'
