%h1 Listing notifications

%table
  %tr
    %th Titles
    %th Description
    %th Author
    %th
    %th
    %th

  - @notifications.each do |notification|
    %tr
      %td= notification.title
      %td= notification.description
      %td= notification.author
      %td= link_to 'Show', notification
      %td= link_to 'Edit', edit_notification_path(notification)
      %td= link_to 'Destroy', notification, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Notification', new_notification_path
